// Colors
$text-color: black;
$label-color:gray; 
$accent-one: #286CE8;
$accent-two: #e6f2ff;
$divider-color: lightgray;
$page-bg: #F5F6F8;
$main-bg: #ffffff;

// Sizes
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;

