@import "../../partials/variables";
@import "../../partials/mixins";
@import "../../partials/typography";

.footer {
  margin-top: 32px;
  width: 100%;
  border-top: 0.0625rem solid $divider-color;
  &__blurb--container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__blurb {
    font-size: 0.6875rem;
    font-weight: normal;
    color: $label-color;
    text-align: left;
    margin: 0.3125rem;
  }
}
